@import '../misc/mixins';

.aboutContainer {
  @include customSides;
  @include customLGBorder;
  @include customHover;

  background-color: $lavender;
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
  padding: 2vh;
  font-size: 1.3em;

  @include sm {
    padding: $custom-padding-sm;
    margin-top: 2.5vh;
    font-size: 1.1em;
  }

  & .close {
    visibility: visible;
    float: right;
  }

  & li {
    margin: 30px auto;

    @include sm {
      margin: 15px auto;
    }
  }

  & .aboutItem {
    color: #587272;
    padding-left: 10px;

    @include sm {
      padding-left: 5px;
    }
  }
}
