@import '../misc/mixins';

.headerContainer {
  @include customSides;

  display: flex;
  justify-content: flex-end;
  margin: 0 auto;

  @include sm {
    justify-content: center;
    width: 75%;
    padding: $custom-padding-sm;
  }

  .header {
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 1.3em;
    margin-top: 50px;

    @include sm {
      font-size: 1em;
    }
  }

  & .is-sticky {
    background-color: black;
  }
}
