@import '../misc/mixins';

.introContainer {
  @include customSides;

  display: flex;
  justify-content: flex-start;
  margin-top: 18vh;

  @include sm {
    margin-top: 9vh;
    padding: $custom-padding-sm;
  }

  .introFace {
    font-size: 4.6em;
    color: $lightblue;

    @include sm {
      font-size: 2.3em;
    }
  }

  .blurb {
    font-weight: 200;
    font-size: 1.3em;
    line-height: 1.8;
    color: slategray;
    margin: 5vh 0 2vh;

    @include sm {
      font-size: 1.0em;
      margin: 25px 0;
    }
  }

  .introFace:before {
    content: '>\a0\a0';
  }
}
