@import '../mixins';

.projectsContainer {
  @include customSides;

  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
  padding: 2vh;

  @include sm {
    padding: $custom-padding-sm;
    margin-top: 2.5vh;
  }

  & .singleProject {
    @include customBorder;
    @include customHover;
  }
}
