/************************************************************************************
 * Mixins from :
 *https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
 ***********************************************************************************/
 // Small devices
 @mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }

 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }

 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom spacing for sides
 @mixin sides {
   max-width: $custom-width;
   margin: $custom-margin;
   padding: $custom-padding;
 }
