@import 'reset';
@import 'colours';
@import 'breakpoints';

// @import '../components/Navbar';
// @import '../components/Hero';
// @import '../components/About';
// @import '../components/Projects';
// @import '../components/Contact';
// @import '../components/Footer';

body {
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: cornflowerblue;
  transition: 0.1s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.section {
  color: $darkblue;
}
